

body {
    background: url("addressbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Maven Pro";
    margin: 0;

}

#container {
    
    max-width: 500px;
    /*height: 400px;*/
    background: rgb(179,178,176, 0.6);
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    
}
h1 {
    color: white;
    text-align: center;
    padding: 10px 0;
}

input, select, button {
    
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    height: 25px;
    font-size: 85%; 
    border: none;
    background: #fff;
}

select {
    height: 39px;
}

button {
    height: 35px;
    cursor: pointer;

}

button:hover {
    /* background: #6B4D3A; */
    background: #4C9C84;
    color: #E3D9D9;
}

button:focus {
    outline: none;
}

/* contact list */

div#contacts {
    max-width: 800px;
    /*background: beige;*/
    margin: 45px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;




    
}

ul.contacts {
    list-style-type: none;
    background: white; /* more my preference */
    background: rgba(255,255,255,0.8); /* what you asked for instead */
    padding: 15px;
    margin: 0;
    border-radius: 3px;
    position: relative;



    
}

.contacts button {
    /*position: absolute;*/
    /* background: white; */
    background: url(garbage.png);
    /* border-radius: 50%; */
    /* border: 1px solid red; */
    /* color: red; */
    height: 24px;
    width: 24px;
    padding: 0;
    right: 14px;
    bottom: -3px;
    float: right;
    margin: 10px 0 0 15px;

}


.contacts button:hover {
    background: url(garbageColor.png);
}

.contacts button:last-of-type {
    background: url(edit.png);
}

.contacts button:last-of-type:hover {
    background: url(editColor.png);
}

/* bonus css */ 
li {
    padding: 10px 0;
    border-bottom: 1px solid silver !important;
    overflow: scroll;
}

